.clojure    {background-color: #db5855;}
.java       {background-color: #b07219;}
.javascript {background-color: #f1e05a;}
.perl5      {background-color: #0298c3;}
.php        {background-color: #4F5D95;}
.python     {background-color: #3572A5;}
