body {
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}

#working {
  display: none;
}

#resultsWrapper {
  overflow-y: auto;
  height: 550px;
}

#resultsWrapper::-webkit-scrollbar {
  display: none;
}

.form-control-feedback {
  right: 15px;
}

#search {
  border: 1px solid rgba(0,0,0,0.6);
  background-color: #32383e;
  color: #ffffff;
}

.merged-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0 !important;
  border-right: solid 1px rgba(0,0,0,0.6);
}

.merged-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
